@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Task Board";
    string userID = ViewBag.UserID;
}

@section Scripts{
    <script src="~/Scripts/ViewModels/TaskBoardViewModel.js" type="text/javascript"></script>
}



<section class="row">
    <section class="col-md-12">
        <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 25%">
                <span class="sr-only">25% Complete (info)</span>
            </div>
            <div class="progress-bar progress-bar-warning  progress-bar-striped" style="width: 25%">
                <span class="sr-only">25% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 25%">
                <span class="sr-only">25% Complete (successs)</span>
            </div>
            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 25%">
                <span class="sr-only">25% Complete (danger)</span>
            </div>
        </div>
    </section>
</section>
<section class="row">
    <section class="col-md-3">

        <section class="panel panel-info text-center">
            <section class="panel-heading">
                <h4> ToDo</h4>
            </section>
            <section class="panel-body" data-bind=" event:{
                                      dragover: function(data, event){console.log('dragover') },
                                     dragenter: function(event){console.log('dragenter'); },
                                     dragleave: function(event){console.log('dragleave'); },
                                     drop: function(data, event){
                                         event.target.id = 1;
                                         event.target.action = 'change-status' ;
                                         $root.ondrop($data, event); return true;
                                     }}">

                <section data-bind="foreach: tasks">

                    <section data-bind="if: Status === 1">
                        <section class="panel panel-default" draggable="true" data-bind="event:{
dragstart: function(data, e) {$root.ondragstart(data, e); return true;}
}">
                            <section class="panel-body task task-panel" data-bind="event : {mouseover: $root.onTaskOver, mouseout: $root.onTaskOverLeave}">
                                <section data-bind="text: Title"></section>
                                <section data-bind="text: Description" class="custom-hide task-description"></section>
                                <section data-bind="date: DueDate, format: 'DD MMM YYYY'"></section>
                            </section>

                        </section>
                    </section>

                </section>


            </section>
        </section>

    </section>
    <section class="col-md-3">

        <section class="panel panel-warning text-center">
            <section class="panel-heading">
                <h4> Inprogress</h4>
            </section>
            <section class="panel-body" data-bind=" event:{
                                      dragover: function(event){console.log('dragover'); },
                                     dragenter: function(event){console.log('dragenter'); },
                                     dragleave: function(event){console.log('dragleave'); },
                                     drop: function(data, event){
                                         event.target.id = 2;
                                         event.target.action = 'change-status' ;
                                         $root.ondrop($data, event);
                                         return true;
                                     }}">
                <section data-bind="foreach: tasks">

                    <section data-bind="if: Status === 2">
                        <section class="panel panel-default task-panel" draggable="true" data-bind="event:{
dragstart: function(data, e) {$root.ondragstart(data, e); return true;}
}">
                            <section class="panel-body">
                                <section data-bind="text: Title"></section>
                                <section data-bind="text: Description" class="custom-hide task-description"></section>
                                <section data-bind="date: DueDate, format: 'DD MMM YYYY'"></section>
                            </section>
                        </section>
                    </section>

                </section>

            </section>
        </section>

    </section>
    <section class="col-md-3">

        <section class="panel panel-success text-center">
            <section class="panel-heading">
                <h4> Finished</h4>
            </section>
            <section class="panel-body" data-bind=" event:{
                                      dragover: function(event){console.log('dragover'); },
                                     dragenter: function(event){console.log('dragenter'); },
                                     dragleave: function(event){console.log('dragleave'); },
                                     drop: function(data, event){
                                         event.target.id = 3;
                                         event.target.action = 'change-status' ;
                                         $root.ondrop($data, event);
                                         return true;
                                     }}">
                <section data-bind="foreach: tasks">

                    <section data-bind="if: Status === 3">
                        <section class="panel panel-default task-panel" draggable="true" data-bind="event:{
dragstart: function(data, e) {$root.ondragstart(data, e); return true;}
}">
                            <section class="panel-body">
                                <section data-bind="text: Title"></section>
                                <section data-bind="text: Description" class="custom-hide task-description"></section>
                                <section data-bind="date: DueDate, format: 'DD MMM YYYY'"></section>

                            </section>
                        </section>
                    </section>

                </section>

            </section>
        </section>

    </section>

    <section class="col-md-3">

        <section class="row">

            <section id="btnShowTaskPanel" class="col-md-offset-1 col-md-3 well well-sm text-center btn btn-default" role="button" data-bind="click: $root.onShowNewTaskPanel">
                <span class="glyphicon glyphicon-plus child-element"></span>
            </section>
            <section class="col-md-3 well well-sm text-center"
                     data-bind="event: {
    drop: function(data, event ){$root.dropEditTask(data, event)},
    dragover: function(data, event) {$root.dragoverEditTask(data, event)} ,
    dragenter: function(data, event) {$root.dragenterEditTask(data, event)},
    dragleave: function(data, event) {$root.dragleaveEditTask(data, event)}
    }">
                <span class="glyphicon glyphicon-pencil child-element"></span>
            </section>

            <section id="trash-box" class="col-md-3 well well-sm text-center" data-bind="event:{
            dragover: function(event){$root.ondragoverTrash(); },
            dragenter: function(event){ $root.ondragenterTrash();},
            dragleave: function(event){ $root.ondragleaveTrash();},
                   drop: function(data, event) {
                        event.target.action = 'remove' ;
                        $root.ondrop($data, event);
                        return true;
                   }}">
                <span class="glyphicon glyphicon-trash child-element"></span>
            </section>

            <section id="newTaskPanel" class="col-md-offset-1 col-md-9 panel panel-default custom-hide ">
                <input type="hidden" id="task-ID" />
                <input type="hidden" id="task-Status" />
                <input id="task-Title" type="text" class="form-control task-from-input" placeholder="Title" />
                <textarea id="task-Description" class="form-control task-from-input" placeholder="Description"></textarea>
                <input id="task-DueDate" type="text" class="form-control" placeholder="Due Date" />
                <section class="text-center">
                    <input id="task-btnConfirm" type="button" class="btn btn-success task-from-input" value="Confirm" data-bind="click: $root.onAddTask" />
                    <input id="task-btnConfirm" type="button" class="btn btn-default task-from-input" value="Cancle" data-bind="click: $root.onShowNewTaskPanel" />
                </section>

            </section>

        </section>
    </section>

</section>
