/** {
    border: 1px solid #00ff21;
}*/

.trash-box {
    background: url(/img/trash.png) center no-repeat ; 
    min-width:300px;
    min-height:300px;
    border: 1px solid black;
}

/*.trash-box:hover{
    background: url(/img/trash-opened.png) center no-repeat ; 
}*/

.task-actions{
    margin: 0px 10px;

    width:20px;
}

.drag-hover{
    background-color: #b4fbf9;
}

.custom-hide{
    display: none;
}

.task-from-input{
    margin: 10px 0px;
}

textarea{
    resize:vertical;
}