
@{
    string username = ViewBag.Username;
}

<section class="collapse navbar-collapse nav-custom-style">

    <section class="nav navbar-nav navbar-right">
        <button type="button" role="button" class="btn btn-default">
            @username
        </button> 
    </section>


</section>

  
