@{
    Layout = null;
}

<section class="collapse navbar-collapse nav-custom-style">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/login">Login</a>
        </li>
        <li>
            <a href="~/register">Register</a>
        </li>
    </ul>
</section>
