@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    string username = ViewBag.Username;
}

<section class="alert alert-info col-md-6 col-md-offset-3" >
    <strong>
        Congratulations!
    </strong>
    you have being successfully registered as @username
</section> 